* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Adelia;
    src: url(/font/ADELIA.otf);
}

@font-face {
    font-family: Roboto;
    src: url(/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Gracelyne;
    src: url(/font/Gracelyne.otf);
}

@font-face {
    font-family: iLoveSalmon;
    src: url(/font/ILoveSalmon.ttf);
}

body {
    background-image: url(/img/backgroundPatitas.jpg);
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnMedio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.aire {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.sizeM {
    font-size: medium;
}

.sizeXXL {
    font-size: xx-large;
}


.containerHeader {

    background-image: url(/img/backgroundnav.jpg);
    background-size: cover;
    margin: 20px;
    padding: 20px;
    border: 5px solid rgb(20, 0, 24);
}

.title {
    font-family: Adelia;
    color: #4d0c53;
}


.btnLogin {
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 20%;
    border: 2px solid rgb(204, 187, 35);
    background-color: #09000e;
    color: #f9ecfa;
    padding: 10px;
    font-family: adelia;
}

.text {
    font-family: Roboto;
    color: #13002b;
    background-image: linear-gradient(to left, #e0aaff, rgb(179, 179, 179));
    border: 2px solid rgb(20, 0, 24);
    margin: 30px;
    padding: 10px;
    width: 60%;
}

.slogan {
    padding: 40px;
}

.mainInfo {
    font-family: Gracelyne;
    font-size: x-large;
    color: #19012c;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    background-image: url(/img/backgroundPanal.jpg);
    background-size: cover;
    border: 2px solid rgb(58, 4, 71);
}

.selector {
    border: 2px solid rgb(58, 4, 71);
    color: #210224;
    background-color: rgb(238, 198, 253);
    padding: 5px;
}

.btnElegir {
    margin: 5px;
    border: 2px solid rgb(58, 4, 71);
    color: #f9ecfa;
    background-color: rgb(12, 1, 15);
    padding: 5px;

}

.textProduct {
    font-family: Roboto;
    color: #320036;
    font-size: larger;
}

.precios {
    background-image: url(/img/backgroundPrecios.png);
    background-size: cover;
    height: 350px;
    width: 585px;
}

.btnLink {
    font-family: iLoveSalmon;
    font-size: x-large;
    color: #09000e;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 150px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to left, #c763e6, #7510a3);
    border-radius: 20px;
    border: 2px solid #0c0b0b;
}

footer {
    display: flex;
    align-items: center;
    background-image: url(/img/backgroundfooter.jpg);
    background-size: cover;
    border: 5px solid rgb(20, 0, 24);
    margin-top: 40px;
    padding: 5px;


    display: grid;
    grid-template-areas:
        "bloque1 bloque2 bloque3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 20px;
}

footer section.bloque1 {
    grid-area: bloque1;
}

footer section.bloque2 {
    grid-area: bloque2;
}

footer section.bloque3 {
    grid-area: bloque3;
}

.bloque1 {
    margin-right: 30px;
}

.bloque2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.bloque3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footerText {
    font-family: roboto;
    color: #21003f;
    margin: 5px;
}

.link {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.bloqueLogin {
    margin-top: 25px;
    background-color: #2e0047;
    color: #d6ced6;
    border: 3px solid rgb(182, 11, 153);
    font-family: Roboto;
    padding: 30px;
    height: auto;
    width: 500px;
}

.inputDatos {
    border: 2px solid rgb(219, 73, 195);
    padding: 5px;
}

.btnInfo {
    padding: 5px;
    margin-top: 15px;

}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.iniciar {
    border: 2px solid rgb(19, 0, 32);
    background-color: rgb(95, 150, 108);
    color: #0a0114;
}

.borrar {
    border: 2px solid rgb(19, 0, 32);
    background-color: rgb(185, 98, 98);
    color: #0a0114;
}